@font-face {
    font-family: 'NeuePixel';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/neue-pixel-sans/NeuePixelSans.ttf") format("opentype");
  }
 
  .brand {
      margin-top: -10px;
      background-color: green;
      width: 100%;
  }
  .title {
    font-family: 'NeuePixel';
    font-size: 60px;
    margin-left: 20px;
    opacity: 0.4;
  }
  .content {
    font-family: 'Library 3 am soft';
    font-size: 20px;
  }