@font-face {
    font-family: 'NeuePixel';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/neue-pixel-sans/NeuePixelSans.ttf") format("opentype");
  }
  @font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/VT323-Regular.ttf") format("opentype");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .brand {
      display: block;
      font-family: 'NeuePixel';
      background-color:#33691E;
      position: fixed;
      width: 100%;
      font-weight: bold;
      box-shadow: 1px 2px 10px black;
  }
  .brandname {
    font-size: 40px;
    color: white;
    font-weight: bold;
    opacity: 1;
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    opacity: 1;
}

.active {
    color: white;
    opacity: 1;
}

.row {
    margin-top: 0px;
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 0px; 
  }
 
  .story {
    text-align: justify;
    padding: 0px 20px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Georgia, serif;
  }
  
  .quarter {
    width: 20%;
  }
  
  .half {
    width: 60%;
  }
  .full {
      float: right;
      width: 100%;
  }
  .article-img {
    width: 100%;
  }
  
  .article-title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'VT323';
  }

  i:hover {
    opacity: 1;  
  }
 
  .npm {
    position: fixed;
    color: #B71C1C;
    font-size:38px;
    margin-top: 215px;
    line-height: 1.5;
    
    text-shadow: 3px 5px 5px gray;
    opacity: 0.6;
    margin-left: 70px;
  }
  .github {
    position: fixed;
    margin-top: 240px;
    line-height: 1.5;
    text-shadow: 3px 5px 5px gray;
    color: #424242;
    font-size:38px;
    opacity: 0.6;
    margin-left: 70px;
  }
  .twitter {
    position: fixed;
    color: #00B0FF;
    margin-top: 270px;
    line-height: 3.5;
    opacity: 0.6;
    font-size:38px;
    text-shadow: 3px 5px 10px black;
    font-size: 50x;
    margin-left: 70px;
  }
  
 .npm-bg {
   background-color:#FAFAFA;
   color: #757575;
 }
